name: 'Run tests' 

on:
  push:
    branches:
      - 'main'

jobs:
  build:
    runs-on: ubuntu-latest 

    steps:
      - name: Checkout code 
        uses: actions/checkout@v4

      - name: Install modules 
        working-directory: './Strajk-B'
        run: npm install

      - name: Run tests 
        working-directory: './Strajk-B' 
        run: npm run test
